%h1= @documents.title
%p= @documents.content

= link_to "All Documents", documents_path
= link_to "Update Document", edit_document_path(@document)
= link_to "Delete Document", document_path(@document), method: :delete, data: {confirm: "Are you sure ?"}
